[Unit]
Description=Mount internal and external drives at startup
DefaultDependencies=no
After=local-fs.target
Before=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mount_script.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target